[submodule "public/themes/chili-pomelo"]
	path = public/themes/chili-pomelo
	url = git@github.com:bostondv/chili-pomelo
[submodule "vendor/plugins/redmine_git_hosting"]
	path = vendor/plugins/redmine_git_hosting
	url = git://github.com/ericpaulbishop/redmine_git_hosting.git
[submodule "vendor/plugins/redmine_mypageparts_collection"]
	path = vendor/plugins/redmine_mypageparts_collection
	url = git://github.com/alminium/redmine_mypageparts_collection.git
[submodule "vendor/plugins/redmine_auto_assigned_user"]
	path = vendor/plugins/redmine_auto_assigned_user
	url = https://github.com/GMLudo/redmine_auto_assigned_user.git
[submodule "vendor/plugins/redmine_due_date_by_default"]
	path = vendor/plugins/redmine_due_date_by_default
	url = https://github.com/TeamRocketScience/redmine_due_date_by_default.git
